html,
body {
  width: 90%;
  margin: auto;
  font-size: 16px;
  font-family: "quicksand", sans-serif;
  font-weight: lighter;
  color: #000000;
  background-color: #f6f5f7;
}

main {
  width: 90%;
  margin: auto;
}

footer {
  width: 90%;
  margin: auto;
}

a {
  background-color: rgba(136, 60, 130, 0.1);
  color: #883C82;
  margin: 0px 2px;
  padding: 0px 5px;
}

a:hover {
  color: #5e3075;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

h1 {
  color: #000000;
  font-family: "Fira Code" , Georgia , monospace;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-align: center;

}

p {
  color: #000000;
  font-family: "quicksand" , sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  color: #000000;
  font-family: "Fira Code" , Georgia , monospace;
  font-weight: lighter;
  text-align: center;
  }

.nameDisplay {
  color: #4a1640;
  font-weight: 700;
  font-size: 3.5rem;
}

figcaption {
  font-family: "quicksand" , sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #000000;
}

#header {
  padding: 1rem;
  margin: 1rem;
}

#main {
  margin: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 540px) { 
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}